[Unit]
Description=MavizOS console autologin on tty1
After=systemd-user-sessions.service getty-pre.target
Before=getty@tty1.service
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=-/sbin/agetty --autologin MavizOS --noclear %I $TERM
Restart=always
RestartSec=0
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=getty.target
